<style>
#ui-datepicker-div {
	background-color: white;
	padding: 3px;
	border: 1px solid black;
}
</style>

<script>

  $(document).ready(function () {
  	var selectedEvent = '';
  	var eventTitle = '';
  	var eventStartDate = '';
  	var eventStartTime = '';
  	var eventEndDate = '';
  	var eventEndTime = '';

  	$('#removeBtn').hide();

  	$('#startDateField').datepicker();	
  	$('#endDateField').datepicker();	

  	var events = [];

  	$('#calendar').fullCalendar({
    	header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultView: 'agendaWeek',
			selectable: true,
			selectHelper: true,
			editable: true,
			timezone: 'local',

			// Adding an event
		  select: function(start, end) {
		  	console.log(start.format('h'));
		  	eventStartDate = start.format('l');
		  	eventStartTime = start.format('hh:mm A');
		  	eventEndDate = end.format('l');
		  	eventEndTime = end.format('hh:mm A');

		  	$('#myModal').foundation('reveal', 'open');
			},
			
		  // Show event info
		  eventClick: function(calEvent, jsEvent, view) {
  			$('#removeBtn').show();
  			selectedEvent = calEvent;
		  }
		});

		// Load Events from Database
  	$.ajax({
        type:'GET',
        url:'/get-my-events',
        dataType:'json',
        success: function(data){
          for (var z = 0; z < data.events.length; z++) {
          	var event = {};

          	event.title = data.events[z].title;
          	event.start = data.events[z].start;
          	event.end = data.events[z].end1;

          	events.push(event);
          }
          $('#calendar').fullCalendar('addEventSource', events);
        }
    });

		$('#removeBtn').click(function() {
		  $('#calendar').fullCalendar('removeEvents', selectedEvent._id);
		});

		// Model is open
		$(document).on('open.fndtn.reveal', '[data-reveal]', function () {
		  var modal = $(this);
		  $('#startDateField').val(eventStartDate);
		  $('#startTimeField').val(eventStartTime);
		  $('#endDateField').val(eventEndDate);
		  $('#endTimeField').val(eventEndTime);
		});

		// Save Button
		$('a.closeModal').on('click', function() {
			// If All fields are filled...
			if ($('#titleField').val() != '' &&
					$('#startDateField').val() != '' &&
					$('#startTimeField').val() != '' &&
					$('#endDateField').val() != '' &&
					$('#endTimeField').val() != '') {
				
				// Create eventData to render FullCalendar event
				var eventData;
				eventData = {
					title: $('#titleField').val(),
					start: moment(new Date($('#startDateField').val() + ' ' +  $('#startTimeField').val())).format(),
					end: moment(new Date($('#endDateField').val() + ' ' + $('#endTimeField').val())).format()
				};
				console.log(eventData.start);

				// Store event in database
				if (eventData.title && eventData.start && eventData.end) {
					$.ajax({
	          type:'POST',
	          url:'/store-event',
	          data:{
	            'title': eventData.title,
	            'start': eventData.start,
	            'end1': eventData.end,
	          },
	          success: function(){
	          	console.log(eventData.start);
	            console.log('Event stored');
							$('#calendar').fullCalendar('renderEvent', eventData, true);
					  	$('#myModal').foundation('reveal', 'close');
	          },
	          error: function() {
	          	alert('Error adding event to database');
	          }
	        });
				}
			} else {
				alert('Please fill in all fields');
			}
		});

		// Modal is closed
		$(document).on('closed.fndtn.reveal', '[data-reveal]', function () {
			$('#calendar').fullCalendar('unselect');
			// Reset Fields
			$('#titleField').val('');
			$('#startDateField').val('');
			$('#startTimeField').val('');
			$('#endDateField').val('');
			$('#endTimeField').val('');
		});
  });
</script>

<button type="button" name="removeBtn" id="removeBtn">Remove</button>
<div class="row">
  <div id='calendar' class='modal'></div>

  <!-- Add Event Modal -->
  <div id="myModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h3 id="modalTitle">Add Event</h3>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	  <form>
	  	<div class="panel">
			  <div class="row">
			    <div class="large-12 columns">
			      <label>Title
			        <input type="text" placeholder="New Event" name="titleField" id="titleField"/>
			      </label>
			    </div>
			  </div>
			 </div>
			<div class="panel">
			  <div class="row">
			    <div class="large-6 columns">
			      <label>Start Date
			        <input type="text" placeholder="Jan. 1, 2015" name="startDateField" id="startDateField"/>
			      </label>
			    </div>
			    <div class="large-6 columns">
			      <label>Start Time
			        <input type="text" placeholder="8:00 AM"  name="startTimeField" id="startTimeField"/>
			      </label>
			    </div>
			  </div>
			  <div class="row">
			    <div class="large-6 columns">
			      <label>End Date
			        <input type="text" placeholder="Jan. 1, 2015"  name="endDateField" id="endDateField"/>
			      </label>
			    </div>
			    <div class="large-6 columns">
			      <label>End Time
			        <input type="text" placeholder="8:00 AM"  name="endTimeField" id="endTimeField"/>
			      </label>
			    </div>
			  </div>
			</div>
		  <a href="#" class="button small round right closeModal">Save</a>
		</form>

	</div>
</div>

