<script>

  $(document).ready(function () {
  	var selectedEvent = '';
  	$('#removeBtn').hide();

    $('#calendar').fullCalendar({
    	header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultView: 'agendaWeek',
			selectable: true,
			selectHelper: true,
			editable: true,
		  select: function(start, end) {
		  	start = start.format();
		  	end = end.format();
				var title = prompt('Event Title:');
				var eventData;
				if (title) {
					eventData = {
						title: title,
						start: start,
						end: end
					};
					$('#calendar').fullCalendar('renderEvent', eventData, true);
					$.ajax({
	          type:'POST',
	          url:'/store-event',
	          data:{
	            'title': title,
	            'start': start,
	            'end1': end,
	          },
	          success: function(){
	            alert("Event successfully stored");
	          }
	        });
				}
				$('#calendar').fullCalendar('unselect');
		  },
		  eventClick: function(calEvent, jsEvent, view) {
  			$('#removeBtn').show();
  			selectedEvent = calEvent;
		  },
		});

		$('#removeBtn').click(function() {
		  $('#calendar').fullCalendar('removeEvents', selectedEvent._id);
		});
  });


</script>
<button type="button" name="removeBtn" id="removeBtn">Remove</button>
<div class="row">
  <div id='calendar' class='modal'></div>
  <div id='eventModal'></div>
</div>

