<html>
	<script>
		$(document).ready(function() {

		    // page is now ready, initialize the calendar...

		    $('#calendar').fullCalendar({
		        // put your options and callbacks here
		    })

		});
	</script>
	<body>
		<div id='calendar'></div>
	</body>
</html>