<script>

  $(document).ready(function () {
  	var selectedEvent = '';

  	$('#removeBtn').hide();
    $('#calendar').fullCalendar({
		  dayClick: function(date, jsEvent, view) {
				var title = prompt('Event Title:');
				var start = prompt('Event start:');
				var end1 = prompt('Event end:');

				var eventData;
				if (title) {
					eventData = {
						title: title,
						start: start,
						end1: end1
					};
					$('#calendar').fullCalendar('renderEvent', eventData, true);
					$.ajax({
            type:'POST',
            url:'/store-event',
            data:{
              'title': title,
              'start': start,
              'end1': end1,
            },
            success: function(){
              alert("Event successfully stored");
            }
           });
				}
		  },
		  eventClick: function(calEvent, jsEvent, view) {
  			$('#removeBtn').show();
  			selectedEvent = calEvent;
		  },
		  events: [
				{
					title: 'Meeting 1',
					start: '2015-10-12T10:30:00',
					end: '2015-10-12T12:30:00'
				},
				{
					title: 'Meeting 2',
					start: '2015-10-22T10:30:00',
					end: '2015-10-22T12:30:00'
				}
			]
		});

		$('#removeBtn').click(function() {
		  $('#calendar').fullCalendar('removeEvents', selectedEvent._id);
		});
  });


</script>
<button type="button" name="removeBtn" id="removeBtn">Remove</button>
<div class="row">
  <div id='calendar'></div>
</div>
