<style>
#ui-datepicker-div {
	background-color: white;
	padding: 3px;
	border: 1px solid black;
}
</style>
<script>
  $(document).ready(function () {
  	$('#eventButtons').hide();

  	// Render Calendar and Events
  	renderCalendar();
  	loadEvents()

  	// Remove Event
		$('#removeBtn').click(function() {
		  $('#calendar').fullCalendar('removeEvents', selectedEvent._id);
		});

		// Save Event
		$('a.closeModal').on('click', function() {
			storeEvent();
		});

		// Modal is closed
		$(document).on('closed.fndtn.reveal', '[data-reveal]', function () {
			$('#calendar').fullCalendar('unselect');
			resetAddEventForm();
		});
  });
</script>

<div id="eventButtons">
<button type="button" name="removeBtn" id="removeBtn">Remove</button>
<button type="button" name="downloadBtn" id="downloadBtn">Download</button>
</div>
<div class="row">
  <div id='calendar' class='modal'></div>

  <!-- Add Event Modal -->
  <div id="myModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h3 id="modalTitle">Add Event</h3>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	  <form>
	  	<div class="panel">
			  <div class="row">
			    <div class="large-12 columns">
			      <label>Title
			        <input type="text" placeholder="New Event" name="titleField" id="titleField"/>
			      </label>
			    </div>
			  </div>
			 </div>
			<div class="panel">
			  <div class="row">
			    <div class="large-6 columns">
			      <label>Start Date
			        <input type="text" placeholder="Jan. 1, 2015" name="startDateField" id="startDateField"/>
			      </label>
			    </div>
			    <div class="large-6 columns">
			      <label>Start Time
			        <input type="text" placeholder="8:00 AM"  name="startTimeField" id="startTimeField"/>
			      </label>
			    </div>
			  </div>
			  <div class="row">
			    <div class="large-6 columns">
			      <label>End Date
			        <input type="text" placeholder="Jan. 1, 2015"  name="endDateField" id="endDateField"/>
			      </label>
			    </div>
			    <div class="large-6 columns">
			      <label>End Time
			        <input type="text" placeholder="8:00 AM"  name="endTimeField" id="endTimeField"/>
			      </label>
			    </div>
			  </div>
			</div>
		  <a href="#" class="button small round right closeModal">Save</a>
		</form>
	<!-- Validation Alerts -->
	<div id="invalid-event-input-modal" class="reveal-modal tiny" data-reveal aria-labelledby="invalid-event-input-modal-title" aria-hidden="true" role="dialog">
	  <h2 id="invalid-event-input-modal-title">Invalid Field(s)</h2>
	  <p class="invalid"></p>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

	</div>
</div>
