<html>
<style>
  #wall {
    background-color: #e9eaed;
    border: 1px solid black;
    padding: 5px;
    font-family: Helvetica, Arial, sans-serif;
  }

  .fbPost {
    margin: 0;
    margin-top: 10px;
    border: 1px solid #dfe0e4;
    background-color: white;
    padding: 10px;
    max-width: 510px;
  }

  .fbComments {
    background-color: #f6f7f8;
    border: 1px solid #dfe0e4;
    border-top: none;
    padding: 10px;
    margin: 0;
    max-width: 510px;
    font-size: 12px;
    line-height: 16px;
  }

  .fbPostButtonBox ul {
    list-style: none;
  }

  .addCommentField {
    width: 450px;
    height: 27px;
    margin-top: 0;
    margin-top: 11;
    font-size: 12px;
    line-height: 16px;
  }

  .addCommentPic {
    float: left;
    margin-right: 8px;
    clear: left;
  }

  #wall a {
    color: #3b5998;
    text-decoration: none;
  }

  #wall a:hover {
    text-decoration: underline;
  }

  #wall img {
    border: 1px solid #aeacae;
  }

  .postProfilePic {
    float: left;
    margin-right: 5px;
  }

  .poster {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
  }

  .postStory {
    font-size: 14px;
    line-height: 19px;
    margin-left: 4px;
  }

  #wall a.postTime {
    font-size: 12px;
    line-height: 16px;
    float: left;
    color: #9197a3;
    margin-top: 3px;
  }

  #wall a.likePost, #wall a.commentPost, #wall a.sharePost {
    color: #7f7f7f;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-right: 30px;
  }

  .postMessage {
    font-size: 14px;
    line-height: 19px;
  }

  .commentPic {
    float: left;
    clear: left;
    margin-right: 8px;
  }

  #wall a.commenter {
    font-weight: bold;
    margin-right: 3px;
  }

  .comment {
    margin-bottom: 10px;
  }

  .likesMessage {
    font-size: 12px;
    line-height: 19px;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
  }

  #wall a.liked {
    color: #5890ff;
  }

  #wall a.notLiked {
    color: #7f7f7f;
  }
</style>
<script>
    $(document).ready(function () {
        function ndaq() {
            $.ajax({
                dataType: "xml",
                type: 'GET',
                url: 'https://query.yahooapis.com/v1/public/yql/derekleung/getQuote',
                data: {
                    diagnostics: 'true',
                    env: 'store://datatables.org/alltableswithkeys',
                    symbol: 'NDAQ',
                },
                success: function (data) {
                    printTicker(data, 'ndaq');
                },
                complete: function () {
                    setTimeout(ndaq, 5000);
                }
            });
        }

        function nyse() {
            $.ajax({
                dataType: "xml",
                type: 'GET',
                url: 'https://query.yahooapis.com/v1/public/yql/derekleung/getQuote',
                data: {
                    diagnostics: 'true',
                    env: 'store://datatables.org/alltableswithkeys',
                    symbol: '^NYA',
                },
                success: function (data) {
                    printTicker(data, 'nyse');
                },
                complete: function () {
                    setTimeout(nyse, 5000);
                }
            });
        }

        function dow() {
            $.ajax({
                dataType: "xml",
                type: 'GET',
                url: 'https://query.yahooapis.com/v1/public/yql/derekleung/getQuote',
                data: {
                    diagnostics: 'true',
                    env: 'store://datatables.org/alltableswithkeys',
                    symbol: 'DOW',
                },
                success: function (data) {
                    printTicker(data, 'dow');
                },
                complete: function () {
                    setTimeout(dow, 5000);
                }
            });
        }

        function googl() {
            $.ajax({
                dataType: "xml",
                type: 'GET',
                url: 'https://query.yahooapis.com/v1/public/yql/derekleung/getQuote',
                data: {
                    diagnostics: 'true',
                    env: 'store://datatables.org/alltableswithkeys',
                    symbol: 'GOOGL',
                },
                success: function (data) {
                    printTicker(data, 'googl');
                },
                complete: function () {
                    setTimeout(googl, 5000);
                }
            });
        }

        function xrx() {
            $.ajax({
                dataType: "xml",
                type: 'GET',
                url: 'https://query.yahooapis.com/v1/public/yql/derekleung/getQuote',
                data: {
                    diagnostics: 'true',
                    env: 'store://datatables.org/alltableswithkeys',
                    symbol: 'XRX',
                },
                success: function (data) {
                    printTicker(data, 'xrx');
                },
                complete: function () {
                    setTimeout(xrx, 5000);
                }
            });
        }

        function xom() {
            $.ajax({
                dataType: "xml",
                type: 'GET',
                url: 'https://query.yahooapis.com/v1/public/yql/derekleung/getQuote',
                data: {
                    diagnostics: 'true',
                    env: 'store://datatables.org/alltableswithkeys',
                    symbol: 'XOM',
                },
                success: function (data) {
                    printTicker(data, 'xom');
                },
                complete: function () {
                    setTimeout(xom, 5000);
                }
            });
        }

        ndaq();
        nyse();
        dow();
        googl();
        xrx();
        xom();

    });


    // Login and Wall stuff
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        if (response.status === 'connected') {
            testAPI();
            showWall();
        } else if (response.status === 'not_authorized') {
            document.getElementById('login-status').innerHTML = 'Please log ' +
                    'into this app.';
        } else {
            document.getElementById('login-status').innerHTML = 'Please log ' +
                    'into Facebook.';
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1715981821968291', // 1715981821968291 //459724754210681
            cookie: true,
            xfbml: true,
            version: 'v2.4'
        });

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me?fields=name,id', function (response) {
            myName = response.name;
            myId = response.id            
            console.log(response);

            //associate user in our database
            $.ajax({
                type:'POST',
                url:'/associate-user',
                data:{'idString': response.id},
                success: function(){
                    //alert("Successfully associated user with FB ID: " + response.id);
                }
            });

            console.log('Successful login for: ' + response.name);
            document.getElementById('login-status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
            document.getElementById('facebook-post-status').innerHTML =
                    '<select id="status_privacy"><option value="EVERYONE">Public</option><option value="ALL_FRIENDS">Friends</option>' +
                    '<option value="FRIENDS_OF_FRIENDS">Friends of Friends</option><option value="SELF">Only Me</option></select>';
            document.getElementById('facebook-post-status').innerHTML +=
                    '<form onsubmit="updateStatus(this.status.value)">Post Status: <input type="text" name="status" /><input type="submit" /></form>';
            document.getElementById('facebook-post-status').innerHTML +=
                    '<form onsubmit="uploadPhoto(this.caption.value, this.url.value)">Post Photo (Enter URL): <input type="text" name="url" />Caption: <input type="text" name="caption" /><input type="submit" /></form>';
            document.getElementById('wall').innerHTML = '<h2>' + response.name + '\'s Wall</h2>';
        });
    }

  function showWall() {
        
    FB.api(
      '/me/feed?fields=id,type,story,message,created_time,comments{from,can_like,can_comment,message,like_count,user_likes},picture,from,link,attachments,likes{name,id,link},object_id', 
      function(response) {
        if (response && !response.error) {
          postsData = response.data;
          for (i = 0; i < postsData.length; i++) {
            var post = postsData[i];

            // Profile Pic of Poster
            var postProfilePic = 'https://graph.facebook.com/' + post.from.id + '/picture?fields=url&type=square';

            // Post Time
            var fbTime = new Date(post.created_time.substring(0,(post.created_time.length-5)));
            var monthNames = ["January", "February", "March", "April", "May", "June", "July", 
                              "August", "September", "October", "November", "December"];
            var minutes = (fbTime.getMinutes() < 10) ? ("0" + fbTime.getMinutes()) : fbTime.getMinutes();
            var strFbTime = monthNames[fbTime.getMonth()] + ' ' + fbTime.getDay() + ' at ' + fbTime.getHours() + ':' + minutes;

            // Post Type
            var postType = post.type;

            // Poster (from)
            var from = post.from

            // Post ID
            var postId = post.id;

            // Post Link
            var postLink = 'https://www.facebook.com/' + from.id + '/posts/' + postId.split('_')[1];

            // Post Story
            if (post.story) {
              var postStory = ' ' + post.story.split(from.name + ' ')[1];
            }

            // Comments
            if (post.comments) {
              var comments = post.comments.data;
            }

            // Post
            $('#wall').append($('<div>', {class: 'fbPost', name: 'fbPost', id: 'post' + postId}));

            // Post Profile Pic Link
            $('#post' + postId).append($('<a>', {
              href: 'https://facebook.com/' + from.id,
              target: '_blank',
              id: 'pplink' + postId
            }));

            // Post Profile Pic
            $('#pplink' + postId).append($('<img>', {
              src: postProfilePic,
              alt: 'Post Profile Picture',
              class: 'postProfilePic',
              height: '40px',
              width: '40px'
            }));

            // Poster (from)
            $('#post' + postId).append($('<a>', {
              href: 'https://facebook.com/' + from.id,
              class: 'poster',
              target: '_blank',
              text: from.name
            }));

            // Story
            if (post.story) {
              $('#post' + postId).append($('<span>', { class: 'postStory', text: postStory }));
            }
            $('#post' + postId).append($('</br>'));

            // Post Time
            $('#post' + postId).append($('<a>', { 
              href: postLink,   
              target: '_blank',  
              class: 'postTime',
              text: strFbTime
            }));
            $('#post' + postId).append($('</br>'));

            // Post Message
            if (post.message) {
              $('#post' + postId).append($('<p>', { class: 'postMessage', text: post.message }));
            }

            // Attachments
            if (post.attachments) {
              if (postType == 'photo') {
                if (post.attachments.data[0].type == 'album') {
                  var attachments = post.attachments.data[0].subattachments.data;
                  for (var n = 0; n < attachments.length; n++) {
                    var attachment = attachments[n];
                    // Image Link
                    $('#post' + postId).append($('<a>', {
                      href: attachment.target.url,
                      target: '_blank',
                      id: 'imglink' + attachment.target.id
                    }));
                    // Image
                    $('#imglink' + attachment.target.id).append($('<img>', {
                      src: attachment.media.image.src,
                      alt: 'Post photo',
                      height: attachment.media.image.height / 2,
                      width: attachment.media.image.width / 2
                    }));
                  }
                  $('#post' + postId).append($('</br>'));
                } else if (post.attachments.data[0].type == 'photo') {
                  var attachments = post.attachments.data;
                  for (var m = 0; m < attachments.length; m++) {
                    var attachment = attachments[m];
                    // Image Link
                    $('#post' + postId).append($('<a>', {
                      href: attachment.target.url,
                      target: '_blank',
                      id: 'imglink' + attachment.target.id
                    }));
                    // Image
                    $('#imglink' + attachment.target.id).append($('<img>', {
                      src: attachment.media.image.src,
                      alt: 'Post photo',
                      height: attachment.media.image.height / 2,
                      width: attachment.media.image.width / 2
                    }));
                    $('#post' + postId).append($('</br>'));
                  }
                }
              }
            }

            // Likes
            var iLike = false;
            var postLikes = [];
            if (post.likes) {       
              postLikes = post.likes.data;
              for (var l = 0; l < postLikes.length; l++) {
                if (postLikes[l].id == myId) {
                  iLike = true;
                }
              }
            }

            // Like Post
            $('#post' + postId).append($('<hr>'));

            if (iLike) {
              $('#post' + postId).append($('<a>', { href: '#', class: 'likePost liked', id: post.id, text: 'Like '}));
            } else {
              $('#post' + postId).append($('<a>', { href: '#', class: 'likePost notLiked', id: post.id, text: 'Like '}));
            }

            // Comment on Post
            $('#post' + postId).append($('<a>', { href: '#', class: 'commentPost', text: 'Comment '  }));

            // Share Post
            if (postType == 'link') {
              $('#post' + postId).append($('<a>', { href: '#', class: 'sharePost', text: 'Share '  }));
            }

            // Comments Box
            $('#wall').append($('<div>', {
              name: 'fbComments',
              class: 'fbComments',
              id: 'comments' + postId
            }));


            // 1 person likes Post
            if (postLikes.length == 1) {
              var likesMessage;
              if (iLike == true) {
                likesMessage = 'You like this.';
              } else {
                likesMessage = postLikes[0].name + ' likes this.';
              }
              $('#comments' + postId).append($('<p>', { class: 'likesMessage', text: likesMessage }));
            }

            // 2 people like this.
            if (postLikes.length == 2) {
              var likesMessage;
              if (iLike == true) {
                var otherPerson;
                for (var u = 0; u < postLikes.length; u++) {
                  if (postLikes[u].id != myId) {
                    otherPerson = postLikes[u].name;
                  }
                }
                likesMessage = 'You and ' + otherPerson + ' like this.';
              } else {
                likesMessage = postLikes[0].name + ' and ' + postLikes[1].name + ' like this.';
              }
              $('#comments' + postId).append($('<p>', { class: 'likesMessage', text: likesMessage }));
            }

            // Comments
            if (comments) {
              // Each Comment
              for (var k = 0; k < comments.length; k++) {
                var comment = comments[k];
                // Comment Div
                $('#comments' + postId).append($('<div>', {
                  class: 'comment',
                  id: 'comment' + comment.id
                }));

                // Comment Image
                $('#comment' + comment.id).append($('<a href="https://facebook.com/' + comment.from.id + '" target="_blank"><img src="https://graph.facebook.com/' + comment.from.id + '/picture?fields=url&type=square" alt="Comment Pic" class="commentPic" height="32px" width="32px"></a>'));
                
                // Comment Name
                $('#comment' + comment.id).append($('<a>', {
                  href: 'https://facebook.com/' + comment.from.id,
                  target: '_blank',
                  class: 'commenter',
                  text: comment.from.name
                }));

                // Comment message
                $('#comment' + comment.id).append($('<span>', { text: comment.message  }));
                $('#comment' + comment.id).append($('</br>'));

                // Like/Unlike Comment
                if (comment.can_like) {
                  if (comment.user_likes==true) {
                    // Unlike Comment
                    $('#comment' + comment.id).append($('<a>', { href: '#', text: 'Unlike ' }));
                  } else {
                    // Like Comment
                    $('#comment' + comment.id).append($('<a>', { href: '#', text: 'Like ' }));
                  }
                  $('#comment' + comment.id).append($('<span>', { text: ' · ' }));
                }

                // Reply to Comment
                if (comment.can_comment) {
                  $('#comment' + comment.id).append($('<a>', { href: '#', text: 'Reply ' }));
                $('#comment' + comment.id).append($('</br>'));
                }
              }
            }

            // Add Comment Profile Pic
            $('#comments' + postId).append($('<img>', {
              src: 'https://graph.facebook.com/' + myId + '/picture?fields=url&type=square',
              alt: 'Add Comment Profile Picture',
              class: 'addCommentPic',
              height: 32,
              width: 32
            }));

            // Add Comment Input Field
            $('#comments' + postId).append($('<input>', {
              type: 'text',
              class: 'addCommentField',
              name: 'addComment' + postId,
              placeholder: 'Write a comment...'
            }));
          }
        }

        // Click to Like
        $('#wall a.notLiked').click(function() {
          FB.api(
            "/" + $(this).attr('id') + "/likes",
            "POST",
            function (response) {
              if (response && !response.error) {
                console.log('liked!');
              } else {
                console.log('error');
              }
            }
          );
          $(this).attr('class', 'likePost liked');
          location.reload();
        });

        // Click to Unlike
        $('#wall a.liked').click(function() {
          FB.api(
            "/" + $(this).attr('id') + "/likes",
            "DELETE",
            function (response) {
              if (response && !response.error) {
                console.log('unliked');
              } else {
                console.log('error');
              }
            }
          );
          $(this).attr('class', 'likePost notLiked');
          location.reload();
        });
    });
  }   

  function updateStatus(status) {
      FB.api('/me/feed',
              'post',
              {
                  message: status,
                  privacy: {
                      "value": $("#status_privacy").val()
                  }
              });
  }

  function uploadPhoto(status, url) {
      FB.api("/me/photos",
             "POST",
             {
              "caption": status,
              "url": url,
              "privacy": {
                  "value": $("#status_privacy").val()
              }
             });
  }

    function logout() {
        FB.logout();
    }
</script>
<body>
<div class="row">
  <!-- FACEBOOK INFO-->
  <div data-alert class="alert-box">
    <div id="login-status" name="login-status"></div>
    <a href="#" class="close">&times;</a>
  </div>

  <div id="facebook-post-status" name="facebook-post-status">
  </div>

  <div id="wall" class="large-6 small-12 columns" name="wall">
  </div>

  <!-- STOCK INFO -->
  <div id="tickerContainer" class="large-6 small-12 columns" name="tickerContainer">
    <div class="row">
      <div class="large-12 small-12 columns">
        <div id='ndaq' name='ndaq'>
          <div name='title' class='one-line'>The NASDAQ OMX Group, Inc. ("NDAQ")</div>
          <div name='price' class='one-line last-trade-price quote-info'></div>
          <div name='change' class='one-line quote-info'></div>
        </div>
        <div id="nyse" name='nyse'>
          <div name='title' class='one-line'>NYSE COMPOSITE (DJ) ("^NYA")</div>
          <div name='price' class='one-line last-trade-price quote-info'></div>
          <div name='change' class='one-line quote-info'></div>
        </div>
        <div id="dow" name='dow'>
          <div name='title' class='one-line'>Dow Chemical Company (The) Comm ("DOW")</div>
          <div name='price' class='one-line last-trade-price quote-info'></div>
          <div name='change' class='one-line quote-info'></div>
        </div>
        <div id="googl" name='googl'>
          <div name='title' class='one-line'>Google Inc. ("GOOGL")</div>
          <div name='price' class='one-line last-trade-price quote-info'></div>
          <div name='change' class='one-line quote-info'></div>
        </div>
        <div id="xrx" name='xrx'>
          <div name='title' class='one-line'>Xerox Corporation Common Stock ("XRX")</div>
          <div name='price' class='one-line last-trade-price quote-info'></div>
          <div name='change' class='one-line quote-info'></div>
        </div>
        <div id="xom" name='xom'>
          <div name='title' class='one-line'>Exxon Mobil Corporation Common ("XOM")</div>
          <div name='price' class='one-line last-trade-price quote-info'></div>
          <div name='change' class='one-line quote-info'></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
