<html>
	<body>
		<form name="quote" action="https://query.yahooapis.com/v1/public/yql/derekleung/getQuote" method="get">
	    	Enter Ticker Symbol:
		    <input type="text" name="symbol"/>
		    <input type="submit" value="Get quote"/>
		    <input type="hidden" name="format" value="xml&diagnostics=true"/>
		    <input type="hidden" name="env" value="store://datatables.org/alltableswithkeys"/>
		</form>

		<div id="quoteResults" name="quoteResults"></div>
        <div id="chartContainer" name="chartContainer">
            <div id="chartDateButtons" name="chartDateButtons">
            	<button id='7days' name='7days'>7 days</button>
            	<button id='1month' name='1month'>1 month</button>
            	<button id='3months' name='3months'>3 months</button>
            </div>
            <div id="chart">
                <svg></svg>
            </div>
        </div>
	</body>
</html>