<html>
	<script>
	$(document).ready(function(){
		$('#note-success-alert').hide();
		$('#buy-success-alert').hide();
		$('#sell-success-alert').hide();
		$('#first-buy').click(function(){
			validateBuyForm();
		});

		$('#buy-submit').click(function(){
			var ticker = $('#buy-ticker').val().toUpperCase();
			var shares = $('#buy-shares').val();
			getStockPrice(ticker, shares, 'buy');
			$('#confirm-modal').foundation('reveal', 'close');
		});

		$('#buy-success-close').click(function(){
			$('#buy-success-alert').hide();
			
		});

		$('#sell-submit').click(function(){
			//var ticker = $('#sell-form-ticker').val().toUpperCase();
			//var shares = $('#sell-form-shares').val();
			//alert(ticker + ' ' + shares);
			validateSellForm();
		});

		$('#sell-confirm').click(function(){
			var ticker = $('#sell-form-ticker').val().toUpperCase();
			var shares = $('#sell-form-shares').val();
			getStockPrice(ticker, shares, 'sell')
			$('#confirm-sell-modal').foundation('reveal', 'close');
		});

		$('#sell-success-close').click(function(){
			$('#sell-success-alert').hide();
			
		});

		$('#note-submit').click(function(){
			var ticker = $('#note-form-ticker').val().toUpperCase();
			var note = $('#note-editable p').html();
			$.ajax({
	            type:'POST',
	            url:'/edit-stock-note',
	            data:{
	                'ticker_symbol': ticker,
	                'note': note,
	            },
	            success: function(){
	                $('#buy-success-alert').hide();
	                $('#sell-success-alert').hide();
	                
	                //refresh the datatable and stock buy form
	                clearChildren(document.getElementById('buy-form'));
	                window.stockTable.destroy();
	                $('#myTable tfoot tr').remove();
	                $('#myTable tbody').remove();
	                $('#note-modal').foundation('reveal', 'close');
	                $('#note-success-alert').show();
	                getUserStockData();
	                

	            }
	        });
		});

		$('#note-success-close').click(function(){
			$('#note-success-alert').hide();
			
		});
		
		window.totalChange = parseFloat(0);
    	window.totalMarketCap = 0;
    	window.totalGain = 0;
    	window.totalGainPc = 0;
		getUserStockData();

	});
	</script>
	<style type="text/css">
		div.row {
			max-width: 100%!important;
			width:100%;
			margin-right: 0px;
			margin-left: 0px;
		}
	</style>
	<body>
		<div id="debug-output">
		</div>
		<div id="buy-success-alert" class="alert-box success radius" style="color:black;">
		  Purchase Successful
		  <a id="buy-success-close" href="#" class="close">&times;</a>
		</div>
		<div id="sell-success-alert" class="alert-box success radius" style="color:black;">
		  Sale Successful
		  <a id="sell-success-close" href="#" class="close">&times;</a>
		</div>
		<div id="note-success-alert" class="alert-box success radius" style="color:black;">
		  Note Updated
		  <a id="note-success-close" href="#" class="close">&times;</a>
		</div>
		<div id="buy-form" name="buy-form">
			<input id="buy-ticker" type="text" placeholder="ticker">
			<input id="buy-shares" type="text" placeholder="shares">
			<a href="#" id="first-buy" class="radius button tiny">Buy</a>
		</div>
		<table id="myTable">
			<thead>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
		<div>
			<a href="/transactions">Transaction History</a>
		</div>
		<!-- Reveal Modals begin -->
		<div id="confirm-modal" class="reveal-modal" data-reveal aria-labelledby="confirm-modal-title" aria-hidden="true" role="dialog">
		  <h2 id="confirm-modal-title">Confirm Purchase</h2>
		  <p></p>
		  <p><a href="javascript:void(0);" id="buy-submit" data-reveal-id class="secondary button">Confirm</a></p>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>

		<div id="invalid-buy-modal" class="reveal-modal" data-reveal aria-labelledby="invalid-buy-modal-title" aria-hidden="true" role="dialog">
		  <h2 id="invalid-buy-modal-title">Invalid Field(s)</h2>
		  <p class="invalid"></p>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
		<div id="sell-modal" class="reveal-modal" data-reveal aria-labelledby="sell-modal-title" aria-hidden="true" role="dialog">
		  <h2 id="sell-modal-title"></h2>
		  <input type="hidden" id="sell-form-ticker" name="sell-form-ticker"> 
		  <input type="hidden" id="sell-form-held" name="sell-form-held">
		  <input type="text" id="sell-form-shares" name="sell-form-shares" placeholder="shares" style="display:inline;width:100px;" autofocus>
		  <a href="javascript:void(0);" id="sell-submit" data-reveal-id class="radius button tiny ">Sell</a>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
		<div id="invalid-sell-modal" class="reveal-modal" data-reveal aria-labelledby="invalid-sell-modal-title" aria-hidden="true" role="dialog">
		  <h2 id="invalid-sell-modal-title">Invalid Field(s)</h2>
		  <p class="invalid"></p>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
		<div id="confirm-sell-modal" class="reveal-modal" data-reveal aria-labelledby="confirm-sell-modal-title" aria-hidden="true" role="dialog">
		  <h2 id="confirm-sell-modal-title">Confirm Purchase</h2>
		  <p></p>
		  <p><a href="javascript:void(0);" id="sell-confirm" data-reveal-id class="secondary button">Confirm</a></p>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
		<div id="ticker-not-exist-modal" class="reveal-modal" data-reveal aria-labelledby="ticker-not-exist-modal-title" aria-hidden="true" role="dialog">
		  <h2 id="ticker-not-exist-modal-title">Invalid Field(s)</h2>
		  <p class="invalid">Ticker symbol does not exist</p>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
		<div id="note-modal" class="reveal-modal" data-reveal aria-labelledby="note-modal-title" aria-hidden="true" role="dialog">
		  <h2 id="note-modal-title"></h2>
		  <input type="hidden" id="note-form-ticker" name="note-form-ticker">
		  <section id="note-editable" contenteditable="true" autofocus>
		  <p></p>
		  </section>
		  <a href="javascript:void(0);" id="note-submit" data-reveal-id class="radius button tiny ">Save Changes</a>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
	</body>
</html>