<html>
	<script>
	$(document).ready(function(){
		$('#buy-submit').click(function(){
			validateBuyForm();
		});
	});
	</script>
	<style type="text/css">
		#buy-form {
			width:200px;
		}
	</style>
	<body>
		<div id="buy-form" name="buy-form">
			<input id="buy-ticker" type="text" style="display:inline; width:30%;" placeholder="ticker">
			<input id="buy-shares" type="text" style="display:inline; width:30%;" placeholder="shares">
			<input id="buy-submit" type="submit" style="display:inline" value="submit">
		</div>
	</body>
</html>