<html>
	<script>
	$(document).ready(function(){
		$('#buy-submit').click(function(){
			validateBuyForm();
			window.location.reload()
		});
		window.totalChange = parseFloat(0);
    	window.totalMarketCap = 0;
    	window.totalGain = 0;
    	window.totalGainPc = 0;
    	window.totalDaysGain = 'TBD';
		$.ajax({
                type:'GET',
                url:'/get-my-stocks',
                dataType:'json',

                success: function(data){
                	buildStockTable(data);
                }
        });

	});
	</script>
	<style type="text/css">
		#buy-form {
			width: 300px;
		}

		#buy-ticker {
			display:inline; 
			width:30%;
		}

		#buy-shares {
			display:inline; 
			width:35%;
		}

		#buy-submit {
			margin-left:10px;
		}
		div.row {
			max-width: 100%!important;
			width:100%;
			margin-right: 0px;
			margin-left: 0px;
		}
	</style>
	<body>
		<div id="debug-output">
		</div>
		<div id="buy-form" name="buy-form">
			<input id="buy-ticker" type="text" placeholder="ticker">
			<input id="buy-shares" type="text" placeholder="shares">
			<button id="buy-submit" class="button tiny radius">Buy</button>
		</div>
		<table id="myTable">
			<thead>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
	</body>
</html>