<html>
	<script>
	$(document).ready(function(){
		$('#first-buy').click(function(){
			validateBuyForm();
		});

		$('#buy-submit').click(function(){
			var ticker = $('#buy-ticker').val().toUpperCase();
			var shares = $('#buy-shares').val();
			getStockPrice(ticker, shares);
			
		});

		$('#buy-success-close').click(function(){
			//refresh the datatable and stock buy form
			clearChildren(document.getElementById('buy-form'));
            window.stockTable.destroy();
            $('#myTable tfoot tr').remove();
            $('#myTable tbody').remove();
            getUserStockData();
		});

		window.totalChange = parseFloat(0);
    	window.totalMarketCap = 0;
    	window.totalGain = 0;
    	window.totalGainPc = 0;
    	window.totalDaysGain = 'TBD';
		getUserStockData();

	});
	</script>
	<style type="text/css">
		div.row {
			max-width: 100%!important;
			width:100%;
			margin-right: 0px;
			margin-left: 0px;
		}

	</style>
	<body>
		<div id="debug-output">
		</div>
		<div id="buy-form" name="buy-form">
			<input id="buy-ticker" type="text" placeholder="ticker">
			<input id="buy-shares" type="text" placeholder="shares">
			<a href="#" id="first-buy" class="radius button tiny">Buy</a>
		</div>
		<table id="myTable">
			<thead>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
		<!-- Reveal Modals begin -->
		<div id="confirm-modal" class="reveal-modal" data-reveal aria-labelledby="confirm-modal-title" aria-hidden="true" role="dialog">
		  <h2 id="confirm-modal-title">Confirm Purchase</h2>
		  <p></p>
		  <p><a href="javascript:void(0);" id="buy-submit" data-reveal-id="secondModal" class="secondary button">Confirm</a></p>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>

		<div id="invalid-buy-modal" class="reveal-modal" data-reveal aria-labelledby="invalid-buy-modal-title" aria-hidden="true" role="dialog">
		  <h2 id="invalid-buy-modal-title">Invalid Field(s)</h2>
		  <p class="invalid"></p>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>

		<div id="buy-success-modal" class="reveal-modal" data-reveal aria-labelledby="buy-success-modal-title" aria-hidden="true" role="dialog">
		  <h2 id="buy-success-modal-title" class="success">Purchase Successful</h2>
		  <a id="buy-success-close"class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
		<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		  <h2 id="modalTitle">Awesome. I have it.</h2>
		  <p class="lead">Your couch.  It is mine.</p>
		  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
	</body>
</html>