// Place all the styles related to the epic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/**---------------------------------------------------------
}

#main_wrap {
  min-height: 45em;
  * SASS MIXINS
 *----------------------------------------------------------*/
  @mixin animate($time) {
  transition: all $time ease;
  -o-transition: all $time ease;
  -moz-transition: all $time ease;
  -webkit-transition: all $time ease;
}

  /**---------------------------------------------------------
   * MAIN STYLING
   *----------------------------------------------------------*/
  body{
    background: #e1e1e1 !important;
  padding:1em;
}

#content_wrap{
  background: white;
}

#main_wrap{
  background: white;
}

.dashboard-chart {
  height: 400px;
  width: 90%;
  padding-bottom: 30px;
}

.one-line {
  display: inline;
}

.last-trade-price {
  margin-left: 20px;
  margin-right: 5px;
}

.quote-info {
  float: right;
}

#tickerContainer {
  /*Removed styling, replaced my foundation styling */
}

#wall {
  background: rgba(255, 255, 255, 1);
  min-height: 25em;
  overflow: auto;
}

/**---------------------------------------------------------
 * Foundation Overwrites
 *----------------------------------------------------------*/
img{
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.full_width {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/**---------------------------------------------------------
 * Custom Menu Styling
 *----------------------------------------------------------*/
.clean {
  padding: 0 !important;
  background: #b0b0b0;

}