/**---------------------------------------------------------
 * VARIABLE SETS
 *----------------------------------------------------------*/
$main-color: #000000;
$main-inverse: #ffffff;
$accent-color: #ff7500;
/**---------------------------------------------------------
 * MENU CONFIGURATION
 *----------------------------------------------------------*/
$topbar-bg-color: $main-color;