// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#chart svg {
  width: 100%;
  height: 30em;
  margin-bottom:40px;
  overflow: visible;
}

#chartContainer {
	margin-top: 10px;
}

#chartDateButtons {
	visibility: hidden;
}

#buy-form {
	width: 300px;
}

#buy-ticker {
	display:inline; 
	width:30%;
}

#buy-shares {
	display:inline; 
	width:35%;
}

#buy-submit {
	margin-left:10px;
}